<%- include("header.ejs") -%>
<body>
<h2>
    "hellowelcome to dolist webapp"

</h1>
<div>
    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeefffffffffffffff
    ereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeefffffffffffffffe
    eeeeeeeeeeeeeeeeee
</div>

<%- include("footer.ejs") -%>
</body>